@import url('https://fonts.googleapis.com/css?family=Jura');

* {
  font-family: 'Jura',sans-serif;
  background-color: plum;
}

h2{
    text-align: center;
}

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    margin-left: -1.5px;
    background-color: black;
}

.timeline>li {
    position: relative;
    margin-bottom: 50px;
    min-height: 50px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    float: left;
    position: relative;
    width: 100%;
}

.timeline-content{
    padding:5px 20px 0 20px;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .topic {
    position: relative;
    text-align: center;
    background-color: #0d0c0c;
    left: 20px;
}

.timeline>li .topic .subtopic {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    display: block;
    color: #2c3e50;
    top: 0;
    float: left;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}


.timeline-heading h3 {
    font-size: 20px;
    line-height: 28px;
}

.timeline-heading span{
    display: block;
    font-weight: 700;
    margin-bottom: 20px;
}

@media(min-width:992px) {
.timeline:before {
    left: 50%;
}
  
  .timeline>li {
    margin-bottom: 15px;
    min-height: 100px;
}
  
  .timeline>li .topic {
    position: absolute;
    text-align: center;
    background-color: #1c1a1a;
}
  
  .timeline>li .timeline-panel {
    float: left;
    width: 43%;
    text-align: right;
    border: 1px solid #141313;
    position: relative;
}
  
  .timeline-content{
    position: relative;
    padding: 24px;
    background-color: #fff;
    -webkit-transition:all 400ms;
    -moz-transition:all 400ms;
    -o-transition:all 400ms;
    transition: all 400ms;
}
  
  .timeline>li .timeline-content:hover {
    background: #db130c;
    color: #1e1c1c;
}
  
  .timeline>li .timeline-panel::before,
.timeline>li.timeline-inverted .timeline-panel::before {
    content: "";
    top: 25px;
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
  
  .timeline>li .timeline-panel::before {
    left: 100%;
    border-left: 1px solid #eee;
    -webkit-transition:all 400ms;
    -moz-transition:all 400ms;
    -o-transition:all 400ms;
    transition: all 400ms;
}
  
  .timeline>li .timeline-panel:hover::before {
    border-left: 15px solid #863c3a;
}
  
  .timeline>li.timeline-inverted .timeline-panel::before {
    right: 100%;
    border-right: 1px solid #eee;
    -webkit-transition:all 400ms;
    -moz-transition:all 400ms;
    -o-transition:all 400ms;
    transition: all 400ms;
}
  
  .timeline>li.timeline-inverted .timeline-panel:hover::before {
    border-right: 15px solid #863c3a;
    border-left: 0;
}
  
  .timeline>li .timeline-panel::after,
.timeline>li.timeline-inverted .timeline-panel::after {
    content: "";
    top: 25px;
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
  
  
  
  .timeline>li .topic {
    left: 50%;
    width: 120px;
    margin-left: -60px;
    margin-top: 28px;
}
  
  .timeline>li .topic .subtopic {
    float: none;
}

}

